	<div class="hero-unit">

		<h1>Welcome to TrustThis (T2)</h1>
		<p>
			<strong>Why was this app made?</strong>
			This app was created because we believe in making information about sex available. We think it should be medically accurate and true without trying to scare people. 
		</p>
		<p>
			 We're interested in sharing information that can help you make decisions that are right for you and your partner. 

			 Our hope is that you will have this information when you want to access or share it with a friend, a family member, or a random.
		</p>

		<p>
			<strong>Who made it? </strong>
			Community advisory committee. 6 young women who identify as Black/and or Latinas and 5 women who have served this community had regular input on the content of the app and how it was designed.

			Focus groups were held and all of this input went into making the app.
		</p>
		<p> <strong>For more information</strong> email Sonia K. Gonzalez @ sgonzalez1@gc.cuny.edu</p>

		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
		 </p>

