	<div class="hero-unit">

		<h2>Welcome to TrustThis (T2)</h2>
		<p>
			<strong> <em>Who made the app? </strong> </em>
			A community advisory committee was formed of 6 young women who identify as Black/and or Latinas and 5 women who have served this community for at least 5 years. They had regular input on the content of the app and how it was designed.

			Focus groups were held with young Black and Latina women between the ages of 18 adn 25 years old and all of this input went into making the app.
		</p>

		<p>
			<strong> <em>Why was this app made?</strong> </em>
			This app was created because we believe in making information about sex available. We think it should be medically accurate and true without trying to scare people. 
		</p>
		<p>
			 We're interested in sharing information that can help you make decisions that are right for you and your partner. 

			 Our hope is that you will have this information when you want to access or share it with a friend, a family member, or a random.
		</p>

		<p> <strong>For more information</strong> email Sonia K. Gonzalez @ sgonzalez1@gc.cuny.edu</p>

		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
		 </p>

    

</div>