<div class="hero-unit">
<h1>T2 Birth Control Decision Tree</h1>

<p>
	Maybe use if/then statements to triage people to method options.
About how this app was created.

Community Advisory Committee was formed.

Focus groups with women 18-25 years old were conducted.

Some of them used the app and we recorded that.

Used that data and made changes to the app to get what you are using now.
</p>