<div class="hero-unit">
<h2>T2 Condom Broke</h2>

	<p>	To Prevent Pregnancy --> Plan B </p>

	<p> Get tested </p>

	<p>Add pictures or a short video to demonstrate how to properly use a condom - use this video as model: link_to({http://youtu.be/BrV3Zhp7gPQ}) do
</p>
</p>