h2 T2 Condom Broke
p 1. Open the condom wrapper using the easy-tear edges. These are the zig-zag edges on either side of the wrapper that are designed to tear apart quickly and easily.
= image_tag "Step-1.jpg"
p Don't get carried away in your passion: don't shred open the foil, and stay away from scissors, teeth, machetes, or any other sharp instrument to open a condom wrapper, or you could tear the condom itself!
p If it's your last condom and you destroy it, party's over!
hr

p 2. Determine which way the condom is rolled. This can be difficult to do, particularly if you’re in the dark. Instead of trying to see which way the condom is rolled, feel it with your fingers:
= image_tag "Step-2.jpg"
p Placing one hand on either side, pinch the rolled ring of the condom between your thumb and fingers.

= image_tag "Step-2Bullet1.jpg"
p Gently roll the condom in one direction with your fingers. If it resists rolling, this is not the direction in which you will want to unroll the condom over the penis.
= image_tag "Step-2Bullet2.jpg"
p Gently roll the condom in the other direction with your fingers. If it begins to unroll, this is the direction in which you should unroll the condom over the penis.
p Cautionary tale: don't unroll more than one roll, as unraveling it will reduce the condom's efficacy—and make it frustratingly difficult to put on. Re-roll the condom after you’ve determined the proper unrolling direction.

= image_tag "Step-2Bullet4.jpg"
hr

p 3.Tips up! Make sure the reservoir at the tip of the condom is pointing in the right direction. This reservoir should already be on the outer tip of the condom but can sometimes become inverted during packaging. Make sure the reservoir is oriented so that the rest of the condom rolls away from it.
= image_tag "Step-3.jpg"
hr

p 4.Lube it up. If the penis is uncircumcised, consider placing a small drop of water-based lubricant inside the reservoir. This can make the condom easier to apply to foreskin.[1] Make sure this is a very small drop, as you don’t want to compete with the sperm for space inside the reservoir tip.
= image_tag "Step-4.jpg"
hr

p 5.Make sure the penis is fully erect. A condom should always fit snugly over a penis, leaving no tight or baggy spots. If rolled over a penis that is not yet fully erect, it will fit awkwardly and be more likely to fall off or tear during sex.

= image_tag "Step-5.jpg"
p If more time is needed for a full erection, set the condom aside with the reservoir pointing up so that you know which way it should unroll. Pick it up again when you’re both ready.
= image_tag "Step-5Bullet1.jpg"

hr
p 6.Pinch the entire reservoir at the tip of the condom shut. This eliminates the possibility of creating an air pocket inside the condom when it is worn, reducing the chance of breakage and providing the semen with a place to go during ejaculation.
= image_tag "Step-6.jpg"
hr

p 7.Roll the condom on. The condom should easily unroll down the length of the shaft. If it turns out that you are trying to put the condom on backwards, throw it away and start over. An erect penis produces fluid prior to ejaculation (called “pre-cum”) that can contain sperm. If a condom has been exposed to this fluid, flipping it over and re-applying it may cause pregnancy and/or the transmission of an STD. How you apply the condom will depend on whether or not the penis is circumcised.
= image_tag "Step-7.jpg"
p Circumcised penis: Pinching the reservoir shut with one hand, place the condom against the tip of the erect penis. With your other hand, push pubic hair out of the way if necessary, then gently roll the condom down the entire shaft of the penis, smoothing out any air bubbles that may appear.
p Uncircumcised penis: Pinching the reservoir shut with one hand, place the condom against the tip of the erect penis. With your other hand, push pubic hair out of the way if necessary, roll the condom slightly over the tip of the penis to get it started, then gently pull back the foreskin. Slide your first hand from the reservoir tip down to the rolled ring of the condom and roll it down the entire length of the shaft. Use one hand to hold the bottom of the condom in place at the bottom of the shaft and then push the foreskin forward inside the condom with the other hand.[1] Smooth out any air bubbles if necessary.
hr

p 8.Smooth lubricant over the condom if necessary. Sexual lubrication decreases the risk of damage to not only the condom, but also to those having sex. Some lubricants even contain spermicides that can help reduce the risk of pregnancy. If your condom isn’t already lubricated, apply it to both the condom and the other partner, particularly if you are engaging in anal sex.
= image_tag "Step-8.jpg"
p Do not over-apply lube, as friction is necessary for stimulation.
p Never apply an oil- or petroleum-based lubricant to a latex condom, as they can cause it to deteriorate.[2] Water- and silicon-based lubricants are both safe to use with latex, but water-based lube washes off more easily and won’t stain your sheets.[3]
hr

p 9.Check the condom periodically during use for breaks. If a condom breaks or becomes loose during sex, replace it immediately and consider using emergency contraception such as the morning-after pill. The morning-after pill prevents pregnancy before it happens by delaying ovulation, blocking fertilization, or preventing an egg from implanting in the uterus; it is not an abortifacient.[4]
= image_tag "Step-9.jpg"
hr

p 10.Replace condom if alternating between different types of sex. If switching from anal to vaginal sex, for example, switch condoms to reduce the risk of infection. (Ex: e-coli from the rectum can cause bladder infections.[5])
= image_tag "Step-10.jpg"

p 11.Immediately after ejaculation, withdraw penis and remove condom. Grasp the bottom of the condom with your hand and withdraw, preventing the condom from slipping off or spilling. Do not allow the penis to go flaccid within the condom before withdrawal, as this can cause the condom to fall off and remain inside the partner.
= image_tag "Step-11.jpg"
hr

p 12.Dispose of the condom discretely. Tie the open end in a knot to prevent spillage, wrap it in toilet paper or tissue, and throw it in a trash can.
= image_tag "Step-12.jpg"

h3 Tips
ul
  li If you or your partner has an allergy to latex, get the alternative polyurethane condoms.
  li You can use both male and female condoms depending on what best fits your lifestyle.
  li If you're unsure if the lubricant you're using is water- or oil-based, a good rule of thumb is that any product you might find in your home for personal care use (Vaseline, lotion, aloe, etc.) is oil-based.
  li Health clinics distribute condoms for free to encourage safe sex. Condoms are also available at any supermarket or drugstore and can also be found in some bathroom vending machines.

h3 Warnings
ul
  li Do not put a condom on you or your partner's tongue, or in your mouth as a preventative measure during oral sex. To do so could result in asphyxiation and death. The male condom is designed for the penis only.
  li Never flush a condom down the toilet, which can cause it to overflow. Having someone remove your used condom from your plumbing is far more embarrassing than wrapping it up and throwing it someplace inconspicuous.
  li Do not try to be extra safe by using more than one condom; this causes extra friction which will make the condoms more likely to break.
  li Remember not to mix oil-based lubrication of any kind (not just store-bought) with latex condoms! Any oil-based substance can very quickly weaken latex and make it break. This includes hand lotion, Vaseline, cold cream, baby oil, and even chapstick.
  li Novelty condoms, such as glow in the dark condoms, might not protect against pregnancy or STD transmission, but flavored, non-novelty ones will. Check the box for details.
  li Mutual masturbation can spread STDs if you get fluids on your hands. This is unlikely but still possible.
  li Never reuse a condom. If you take the condom off, don't put it back on again, even if there doesn't seem to be any fluid.
  li Unless you're a frequent flyer, don't keep a condom in your wallet "just in case". Body heat and pressure will accelerate the breakdown of the condom in the wallet.
  li Don't put a condom on if the package was already nicked or ripped before use.
  li Condoms that are made of animal membrane do not protect you as well as others. Stick to latex or polyurethane, or talk to your doctor about your other options.
  li If improperly used, a condom offers little protection. Even if properly used, there is a small possibility of pregnancy or transmission of sexually-transmitted diseases.
