<div class="hero-unit">
<h2>Ask a trained health educator</h2>

<p>
Talk to  at Planned Parenthood or ask about including text feature at the DOOR.

<div class="btn-group">

 		<div class="span5">
        <!--<h2>Staying Healthy</h2>
         <p>Some tips on how to stay healthy.</p>-->
         <p><%= link_to "Planned Parenthood", stayhealthy_path, class: "btn btn-primary btn-block btn-large" %></p>
       </div>

         <div class="span5">
         <!--<h2>Options After Unprotected Sex</h2>
          <p>Ooops, the condom broke. Learn what you can do to protect against unwanted pregnancy.</p>-->
          <p><%= link_to "The Door Text Feature", condom_path, class: "btn btn-primary btn-block btn-large" %></p>
        </div>

</p>


        </div>
      </div>
    </div>