<div class="hero-unit">
<h2>T2 I'm pregnant, what are my options?</h2>

<p>
The following options are available to someone who is pregnant.

<li>Adoption
	<li><p>Abortion
		<li>Carry to term and raise the child<li/>

If you are not sure what you want to do, it's best talk to talk to a counselor about your options.
</p>