<div class="hero-unit">
<h2>T2: Keywords About the Creator</h2>

<p>
Public Health training from Columbia University and now at Graduate Center, CUNY to earn a Doctorate of Public Health and an Interactive Technology Pedagy Certificate. </p>

<p>Worked with runaway, homeless, LGBTQ, & urban youth. </p>


<p>When she is not working, she is traveling, cycling, or enjoying good food in Brooklyn. </p>