	<div class="hero-unit">

		<h1>Welcome to TrusThis</h1>
		<p>
			This app was created because we believe in making information about sex available. We think it should be medically accurate and true without trying to scare people. 
		</p>
		<p>
			We come from a place that is sex positive, so we're interested in sharing information that can help you make informed decisions that are right for you and your partner. Our hope is that you will have this information when you want to access or share it a friend, a family member, or a random.
		</p>
		<p> For more information email Sonia K. Gonzalez @ sgonzalez1@gc.cuny.edu</p>

		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn large" %>
		 </p>

