.btn {
  border-radius: 0;
}

#footer {
  margin-top: 40px;
  a {
    padding: 20px;
      &:hover {
        text-decoration: none;
      }
  }
}

#menu-head {
  margin: 20px;
}

#menu-body {
  li.span5 {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 25px;
  }
}

.navbar-inner {
  height: 53px;
  ul.nav li {
    a.brand, a {
      color: white;
    }
  }
}

.container {
  margin-top: 20px;
}

