
/* To change Font
$ baseFontFamily: Oxygen
#@import url(http://fonts.googleleapis.com/css?family=Oxygen);
*/

/* For more customizing using Bootstrap:
http://twitter.github.io/bootstrap/customize.html;
*/

$navbarBackgroundHighlight: purple;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body {
	padding-top: 40px;
}

@import 'bootstrap-responsive';
@import url('/bootply/themes/metroid/theme.css');


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}


.footer{
    margin-top: 40px;
    color: $grayLight;
    a{
        color: $gray;
    }
}