
/* To change Font
$baseFontFamily: Oxygen
@import url(http://fonts.googleleapis.com/css?family=Oxygen);
*/

/* For more customizing using Bootstrap:
http://twitter.github.io/bootstrap/customize.html;
*/

$navbarBackgroundHighlight: Purple;
$navbarBackground: White;
$btnPrimaryBackground: Purple;

@import 'bootstrap';

#logo:hover {
  color: #fff;
  text-decoration: none;
}

@import 'bootstrap-responsive';
@import url('/bootply/themes/metroid/theme.css');


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
    color: #fff;
}


.footer{
    margin-top: 20px;
    padding-top: 5px;
    color: $grayLight;
    a{
        color: $gray;
    }

}

.footer, .push {
	clear: both;
}
