<div class= "navbar navbar-fixed-bottom">
<!-- <div class="footer"> -->
<!-- <div class="navbar-inner">-->
<div class="padding right", "padding bottom">
<div class="well well-small">


	<p>
	<small> 
	<class="text-center">
		<%= link_to "About Creator", skg_path %>
		 	// <%= link_to "Community Partners", commpartners_path %>
		 	// Contact: Sonia K. Gonzalez,MPH sgonzalez1@gc.cuny.edu</p>

		 	<!--btn btn-link LINK THAT BEHAVES LIKE A BUTTON-->
	</p> 
	</small>
</div>
</div>
</div>
</div>
</div>

