<div class="footer">
<div class="well well-small">

	<div class="pull-bottom">

	<p>
	<small> 
	<class="text-center">
		<%= link_to "About Creator", skg_path %>
		 	// Community Partners
	</p> 
	</small>
</div>
</div>
